[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
	branch = release-v4.9
[submodule "lib/erc4626-tests"]
	path = lib/erc4626-tests
	url = https://github.com/a16z/erc4626-tests
[submodule "lib/owner-manager-contracts"]
	path = lib/owner-manager-contracts
	url = https://github.com/pooltogether/owner-manager-contracts
[submodule "lib/brokentoken"]
	path = lib/brokentoken
	url = https://github.com/GenerationSoftware/brokentoken
[submodule "lib/pt-v5-prize-pool"]
	path = lib/pt-v5-prize-pool
	url = https://github.com/GenerationSoftware/pt-v5-prize-pool
[submodule "lib/pt-v5-twab-controller"]
	path = lib/pt-v5-twab-controller
	url = https://github.com/generationsoftware/pt-v5-twab-controller
